@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="row">
        <!-- Tarjeta de Actividades -->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../Imagenes/Macabi.jpg" class="card-img-top" alt="Imagen de Actividades">
                <div class="card-body">
                    <h5 class="card-title">Actividades</h5>
                    <p class="card-text"></p>
                    <a href="@Url.Action("Pagina1", "Home")" class="btn btn-primary">Ingresar</a>
                </div>
            </div>    
        </div>

        <!-- Tarjeta de Ubicaciones -->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../Imagenes/Ubicacion.jpg" class="card-img-top" alt="Imagen de Ubicación">
                <div class="card-body">
                    <h5 class="card-title">Ubicaciones</h5>
                    <p class="card-text"></p>
                    <a href="@Url.Action("Pagina2", "Home")" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta de Campamentos -->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../Imagenes/Macabilandia.jpg" class="card-img-top" alt="Imagen de Campamentos">
                <div class="card-body">
                    <h5 class="card-title">Campamentos</h5>
                    <p class="card-text"></p>
                    <a href="@Url.Action("Pagina3", "Home")" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
</div>