
<div class="container text-center">
  <div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
  <img src="../Imagenes/Sede.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">La sede de macabi queda en Tucuman 3135 en C.A.B.A </p>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="../Imagenes/Mapa.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Macabi tiene una sede en san miguel donde su entrada se ubica sobre la calle defensa.</p>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="../Imagenes/Macabilandia.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Macabi tiene un lugar al que se suele ir de campamento llamado Macabilandia ubicado en Cordoba, La Cumbre</p>
  </div>
</div>
    </div>
  </div>
</div>
